<%- include('partials/header') -%>
<div>
    <div style="height:12rem;width:12rem;margin:auto">
        <%- include('svgs/lock') -%>
    </div>
    <h1>Simple Login, Register with Authentication</h1>
    <div class="log-links">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
</div>

<%- include('partials/footer') -%>
